a{
    text-decoration: none;
    color:black;
    font-weight: bold;
    font-style: italic;
}
#menu {
    background-color: peru;
    margin-bottom: 10px;
}
#menu button{
    background-color:transparent; 
    color:white;
    border: 0px;
    margin-bottom:10px;
}
button, input, select{
    padding:10px;
    margin:5px;
}